@use 'variables';

.cast {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5vw;
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

        @media (variables.$maxSmall) {
            grid-template-columns: 1fr 1fr;
        }

        @media (variables.$minMedium) and (variables.$maxMedium) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__item {
            max-width: 200px;
            width: 100%;
            margin-top: 24px;
            text-align: center;

            img {
                border-radius: 8px;
                width: 95%;
                transition: ease 0.5s;
                
                &:hover {
                    scale: 1.05;
                    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
                    transition: ease 0.5s;
                }
            }

            p {
                max-width: 175px;
                width: 100%;
                margin: 6px auto 0;
            }
            
            .text--small {
                color: rgb(136, 136, 136);
            }
        }
    }
}