@use 'variables';

.footer {
    display: flex;
    justify-content: space-around;

    &__content {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;

        &__image {
            display: flex;
    
            img {
                width: 50px;
            }
        }

        &__text {
            display: inline;

            li {
                display: flex;
                justify-content: space-between;
                
                a {
                    margin-top: 12px;
                    text-decoration: none;
                    color: variables.$txtMainC;
                    background-color: variables.$cardBg;
                    padding: 8px;
                    border-radius: 20px;
                    font-size: small;
                    transition: ease 0.2s;

                    &:hover {
                        color: variables.$txtSecondC;
                        background-color: #fff;
                        transition: ease 0.2s;
                    }
                }
            }
        }
    }

    footer {
    background-color: black;
    height: 80px;
    width: 250px;
    margin: 35px 0;
    border-radius: 50px;
    padding: 12px;
    }
    
}