.hero {

    &__content {
        color: #fff;
        margin: 0 auto;
        
        &__image {
            position: relative;

            @media (min-width: 900px) and (max-width: 1300px) {
                overflow-x: hidden;
            }

            img {
                width: 100%;

                @media (min-width: 900px) and (max-width: 1300px) {
                    width: 130%;
                }
            }
        }
        
        &__text {
            top: 0px;
            left: 0px;
            padding: 60px;
            position: absolute;
            max-width: 450px;

            p {
                margin-top: 24px;
                text-shadow: 3px 3px 7px #000;
            }

            &__description {
                display: inline-flex;
                justify-content: space-between;
                width: 65%;

                p {
                    max-width: 180px;
                }
                
            }
        }
    }
} 