@use 'variables';

.hero {
    margin-bottom: 120px;

    @media (variables.$minMedium) and (variables.$maxMedium) {
        margin-bottom: 50px;
    }

    &__content {
        color: variables.$titleMainC;
        max-width: 100%;
        margin: 0 auto;
        
        &__image {
            position: relative;

            @media (variables.$minMedium) and (variables.$maxMedium) {
                overflow-x: hidden;
            }

            img {
                max-width: 100%;

                @media (variables.$minMedium) and (variables.$maxMedium) {
                    max-width: 135%;
                }

                @media (variables.$minSmall) and (variables.$maxSmall) {
                    max-width: 220%;
                }
            }
        }
        
        &__text {
            top: 0px;
            left: 0px;
            padding: 60px;
            position: absolute;
            max-width: 350px;

            .title--big {
                font-size: 65px;

                @media (variables.$minMedium) and (variables.$maxMedium) {
                    font-size: 55px;
                    line-height: 61px;
                }
                
            }

            .text {
                @media (variables.$minMedium) and (variables.$maxMedium) {
                    font-size: 14px;
                }
            }

            p {
                margin-top: 24px;
                text-shadow: 3px 3px 7px #000;
            }

            &__description {
                display: inline-flex;
                justify-content: space-between;
                width: 100%;

                p {
                    max-width: 180px;
                }
                
            }
        }

        &__watch {

            &__logo {
                background-color: #ffffff;
                height: 25px;
                width: 90px;
                padding: 10px;
                border-radius: 8px;

            }
            .text {
                margin: 16px 0;
            }
    
            ul {
                display: flex;
                list-style: none;
    
                li {
                    margin-right: 20px;
                }
            }
            
            a {
                
                img {
                    max-width: 90px;
                }
            }
        }
    }
} 