//Text
$txtMainC: #eeeeee;
$txtSecondC: #949494;

$titleMainC: #fff;

//Card
$cardBg: #3a3a3a;

//Responsivity
$minSmall: 'min-width: 375px';
$maxSmall: 'max-width: 767px';

$minMedium: 'min-width: 768px';
$maxMedium: 'max-width: 1024px';